.item-input-has-value{
    ion-label{
        color: #999;
    }
}
img.non-picture {
  
}
[picture-slide] {
  ion-slides {
    ion-slide {
      .slide-zoom {
        margin: 1rem 0;
        img {
          border-radius: 20px;
          width: 85%;
          height: auto;
        }
        div.markers {
          line-height: 40px;
          background: rgba(255, 255, 255, .3);
        }
      }
    }
    .swiper-pagination-bullets {
      bottom: 0;
    }
    
  }
}
