@import "./cards.scss";
ion-card {
  margin: 27px 10px !important;
  svg {
    g,
    path {
      fill: #fff;
    }
    &+h1,
    &+h3 {
      color: #fff;
    }
    line {
      stroke: #fff;
    }
  }
}
ion-icon[tooltip]{
  position: absolute;
  right: 2rem;
  top: 2rem;
  border-radius: 50%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}
