page-summary {
  .scroll-content {
    overflow: auto;
    padding: 1rem;
  }
  table {
    width: calc(100%);
    border-spacing: 1px;
    border-collapse: separate;
    font-size: 1rem;
    background: #ccc;
    tr {
      &.text-center {
        th,
        td {
          text-align: center;
        }
      }
    }
    th,
    td {
      background: #fff;
      padding: .25rem;
      font-weight: 100;
      vertical-align: middle; //border: 1px solid #ccc;
      a {
        text-decoration: underline;
      }
      &.vertical {
        div {
          height: 5.5rem;
          padding: .25rem .25rem;
          width: 3rem;
          display: block;
          span {
            transform: rotate(-90deg);
            display: block;
            text-align: center;
            white-space: nowrap;
            width: 6rem;
            min-height: 3rem;
            margin-left: -1.2rem;
            margin-top: 1rem;
            &[one-line] {
              margin-left: -.6rem;
            }
          }
        }
      }
      &.c-blue {
        color: rgb(32, 55, 100)
      }
      &.c-green {
        color: rgb(55, 86, 35)
      }
      &.bg-red {
        background: rgb(252, 228, 214)
      }
      &.bg-blue {
        background: rgb(189, 215, 238)
      }
      &.bg-gray {
        background: rgb(242, 242, 242)
      }
    }
    thead {
      th {
        &:nth-child(1) {
          // width: 20%;
          background: rgb(255, 255, 255)
        }
        &:nth-child(2) {
          //width: 5%;
          background: rgb(198, 224, 180)
        }
        &:nth-child(3) {
          //width: 30%;
          background: rgb(0, 176, 80);
          color: #fff
        }
        &:nth-child(4) {
          //width: 5%;
          background: rgb(255, 0, 0);
          color: #fff
        }
        &:nth-child(5) {
          //width: 5%;
          background: rgb(0, 112, 192);
          color: #fff
        }
        &:nth-child(6) {
          //width: 5%;
          background: rgb(191, 191, 191);
          color: #fff
        }
        &:nth-child(7) {
          //width: 30%;
          background: rgb(198, 224, 180)
        }
      }
    }
    tbody {
      >tr {
        >td {
          &.name {
            min-width: 200px;
          }
        }
      }
    }
    tfoot {
      td {
        font-weight: 400;
        background: #eee;
      }
    }
  }
}
