<ion-header>
  <ion-toolbar>
    <ion-title>Summary - {{project.name}}</ion-title>
    <ion-buttons end>
      <button ion-button on-tap="export_pdf(pdf)">
        <!-- <ion-icon name="document-pdf"></ion-icon>&nbsp;PDF -->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <kendo-pdf-export #pdf paperSize="A4" margin=".5cm" [scale]="0.5" landscape="true">

    <ion-grid class="summary-total" *ngIf="!!totals">
      <ion-row>
        <ion-col col-12 text-center>
          <table class="total red">
            <tr>
              <td class="c-red">Energy loss per year</td>
              <td text-right>{{totals.headLost.power | number: '1.0-0'}}</td>
              <td>kWh</td>
            </tr>
            <tr>
              <td>Money loss per year</td>
              <td text-right>{{totals.headLost.money | number: '1.0-0'}}</td>
              <td>€</td>
            </tr>
          </table>

          <table class="total green">
            <tr>
              <td>Potential energy saving per year</td>
              <td text-right>{{totals.savingPotentialMin.power | number: '1.0-0'}}</td>
              <td text-center>
                <ion-icon name="md-arrow-forward"></ion-icon>
              </td>
              <td text-right>{{totals.savingPotentialMax.power | number: '1.0-0'}}</td>
              <td>kWh</td>
            </tr>
            <tr>
              <td>Potential money saving per year</td>
              <td text-right>{{totals.savingPotentialMin.money | number: '1.0-0'}}</td>
              <td text-center>
                <ion-icon name="md-arrow-forward"></ion-icon>
              </td>
              <td text-right>{{totals.savingPotentialMax.money | number: '1.0-0'}}</td>
              <td>€</td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
    <table class="data">
      <thead>
        <tr>
          <th colspan="2"></th>
          <th colspan="6" class="bg-green" style="border-bottom: 5px solid #fff;">Energy analysis</th>
          <th rowspan="2" class="bg-red">
            <span svg="safety"></span>
            Safety
          </th>
          <th rowspan="2" class="bg-blue">
            <span svg="maintenance"></span>
            Maintenance
          </th>
          <th rowspan="2" class="bg-gray">
            <span svg="custom"></span>
            Others
          </th>
          <th class="bg-blue-light">Tbi</th>
          <th class="bg-green-light" colspan="4">Input</th>
        </tr>
        <tr>
          <th colspan="2" style="border-right: 1px solid #444">Component / Location</th>
          <th colspan="2" style="border-top: 1px solid #444; border-right: 1px solid #444; color: red">Energy Loss<br>per year</th>
          <th colspan="4" style="border-top: 1px solid #444; border-right: 1px solid #444; color: #375623">Potential Savings<br>per
            year</th>
          <th>Insulation Advise</th>
          <th class="vertical">
            <div><span one-line>Insulated</span></div>
          </th>
          <th class="vertical">
            <div><span one-line>Surface (m<sup>2</sup>)</span></div>
          </th>
          <th class="vertical">
            <div><span one-line>DN or Øe</span></div>
          </th>
          <th class="vertical">
            <div><span one-line>Items number</span></div>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let c of components; let i=index">
        <tr [class.disabled]="c.fields.unknow_surface" (click)="edit(c)">
          <td rowspan="2" double-border text-center style="white-space: nowrap; padding-right: 1rem">
            <ion-icon (click)="actions(c, $event)" name="md-menu" style="margin: 0 .25rem 0; float: left"></ion-icon>
            {{i+1}}-
          </td>
          <td rowspan="2" double-border class="b-right" style="min-width: 10vw">
              {{ellipsis(c.fields.location)}}
          </td>
          <ng-container *ngIf="!!c.result">
            <td text-right class="bg-light-red c-red">{{c.result.headLost.power / 1000 | number: '1.1-1'}}</td>
            <td class="bg-light-red c-red b-right">MWh<span *ngIf="c.fields.unknow_surface">/m<sup>2</sup></span></td>
            <td text-right class="bg-green c-gree">{{c.result.savingPotentialMin?.power / 1000 | number: '1.1-1'}}</td>
            <td text-center class="bg-green c-gree p-0" style="width: 15px; padding: 0">
              <!-- <ion-icon name="md-arrow-forward"></ion-icon> -->
              --
            </td>
            <td text-left class="bg-green c-gree">{{c.result.savingPotentialMax?.power / 1000 | number: '1.1-1'}}</td>
            <td class="bg-green c-gree mesure b-right">MWh<span *ngIf="c.fields.unknow_surface">/m<sup>2</sup></span></td>
          </ng-container>
          <ng-container *ngIf="!c.result">
            <td colspan="2" class="b-right"></td>
            <td colspan="4" class="b-right"></td>
          </ng-container>

          <td rowspan="2" double-border text-center class="bg-red">
            <ion-icon pull-left name="md-add-circle" (click)="add_report('safety', $event)"></ion-icon>
            <ng-container *ngFor="let r of c.reports_by_type('safety|hot')">
              <a href="#" (click)="open(r, $event)" *ngIf="!r.component.is_hot">{{r.summary_id}}</a>
              <a href="#" (click)="open(r, $event)" *ngIf="!!r.component.is_hot">Hot surface</a>
            </ng-container>
          </td>
          <td rowspan="2" double-border text-center class="bg-blue">
              <ion-icon pull-left name="md-add-circle" (click)="add_report('maintenance', $event)"></ion-icon>
              <a href="#" (click)="open(r, $event)" *ngFor="let r of c.reports_by_type('mantenance|condensation|damaged')">{{r.summary_id}}</a>
          </td>
          <td rowspan="2" double-border text-center class="bg-gray">
              <ion-icon pull-left name="md-add-circle" (click)="add_report('generic', $event)"></ion-icon>
              <a href="#" (click)="open(r, $event)" *ngFor="let r of c.reports_by_type('generic|custom')">{{r.summary_id}}</a>
          </td>
          <td rowspan="2" *ngIf="!!c.result" double-border text-center>{{advises.get(c.result.advise)}}</td>
          <td rowspan="2" *ngIf="!c.result" double-border text-center></td>
          <td rowspan="2" double-border text-center>{{!!c.insulated ? 'Y' : 'N'}}</td>
          <td *ngIf="null!=c.fields.surface_temp" rowspan="2" double-border text-center>{{c.fields.surface_temp}}</td>
          <td *ngIf="null==c.fields.surface_temp" rowspan="2" double-border text-center>&nbsp;</td>
          <td rowspan="2" double-border text-center>
            <span *ngIf="!!c.surface">{{c.fields.surface}} m<sup>2</sup></span>
            <span>{{c.fields.main_dimension}}</span>
          </td>
          <td rowspan="2" double-border text-center>{{c.fields.number}}</td>
        </tr>

        <tr *ngIf="!!c.result" [class.disabled]="c.fields.unknow_surface">
          <td double-border text-right class="c-red">{{c.result.headLost?.money | number: '1.0-0'}}</td>
          <td double-border class="c-red mesure b-right">€<span *ngIf="c.fields.unknow_surface">/m<sup>2</sup></span></td>
          <td double-border text-right class="c-gree">{{c.result.savingPotentialMin?.money | number: '1.0-0'}}</td>
          <td double-border text-center class="c-gree p-0" style="width: 15px; padding: 0">
            <!-- <ion-icon name="md-arrow-forward"></ion-icon> -->
            --
          </td>
          <td double-border text-left class="c-gree">{{c.result.savingPotentialMax?.money | number: '1.0-0'}}</td>
          <td double-border class="c-gree mesure b-right">€<span *ngIf="c.fields.unknow_surface">/m<sup>2</sup></span></td>
        </tr>
        <tr *ngIf="!c.result" [class.disabled]="c.fields.unknow_surface">
          <td double-border colspan="2" class="b-right"></td>
          <td double-border colspan="4" class="b-right"></td>
        </tr>
      </tbody>
    </table>

  </kendo-pdf-export>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button small color="light" (click)="go_to_projects()">
          HOME
        </button>
      </ion-col>
      <!-- <ion-col col-6 text-right>
        <button tabindex="15" ion-button small color="primary" (click)="go_to_reports()">
          New component
        </button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-footer>
