<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      {{ !project.id ? 'New project' : 'Edit project' }}
    </ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="open_camera(project)">
        <ion-icon name="md-camera"></ion-icon>&nbsp;Take a picture
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="properties">
      Properties
    </ion-segment-button>
    <ion-segment-button value="files">
      Files
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="segment=='properties'">
      <ion-col col-12>
        <form novalidate #form="ngForm">
        <ion-row>
          <ion-col col-md-6 col-12>
            <ion-row>
              <ion-title col-12 col-12 text-left>Name</ion-title>
              <ion-item>
                <ion-input tabindex="1" (ionFocus)="on_focus($event)"  type="text" [(ngModel)]="project.name" name="name"></ion-input>
              </ion-item>
              <ion-title col-12 col-12 text-left>Energy Price (&euro;/kWh)</ion-title>
              <ion-item>
                <ion-input tabindex="2" (ionFocus)="on_focus($event)" type="number" [(ngModel)]="project.price" name="price" scroll="40"></ion-input>
              </ion-item>
            </ion-row>
          </ion-col>
          <ion-col col-md-6 col-12>
            <ion-item text-center border-none no-padding>
              <img [src]="project.picture" (click)="ask_for_change_picture(project)">
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row small-title>
          <ion-col col-12>
            <ion-row mb-3>
              <ion-title col-12 col-12 text-left>Project Leader</ion-title>
              <ion-item col-md-5 col-12>
                  <ion-input tabindex="4" (ionFocus)="on_focus($event)"  [(ngModel)]="project.people.leader.name" placeholder="Name" name="leader-name" scroll="60"></ion-input>
              </ion-item>
              <ion-item col-md-4 col-12>
                  <ion-input tabindex="4" (ionFocus)="on_focus($event)"  type="email" [(ngModel)]="project.people.leader.email" placeholder="Email" name="leader-email" scroll="60"></ion-input>
              </ion-item>
              <ion-item col-md-3 col-12>
                  <ion-input tabindex="4" (ionFocus)="on_focus($event)"  type="phone" [(ngModel)]="project.people.leader.phone" placeholder="Phone" name="leader-phone" scroll="60"></ion-input>
              </ion-item>
            </ion-row>
          </ion-col>
          <ion-col col-12>
            <ion-row mb-3>
              <ion-title col-12 col-12 text-left>Energy Manager</ion-title>
              <ion-item col-md-5 col-12>
                  <ion-input tabindex="6" (ionFocus)="on_focus($event)"  [(ngModel)]="project.people.energy_manager.name" placeholder="Name" name="energy-name" scroll="20"></ion-input>
              </ion-item>
              <ion-item col-md-4 col-12>
                <ion-input tabindex="6" (ionFocus)="on_focus($event)"  type="email" [(ngModel)]="project.people.energy_manager.email" placeholder="Email" name="energy-email" scroll="20"></ion-input>
              </ion-item>
              <ion-item col-md-3 col-12>
                <ion-input tabindex="6" (ionFocus)="on_focus($event)"  type="phone" [(ngModel)]="project.people.energy_manager.phone" placeholder="Phone" name="energy-phone" scroll="20"></ion-input>
              </ion-item>
            </ion-row>
          </ion-col>
          <ion-col col-12>
            <ion-row mb-3>
              <ion-title col-12 col-12 text-left>Maintenance Manager</ion-title>
              <ion-item col-md-5 col-12>
                <ion-input tabindex="8" (ionFocus)="on_focus($event)"  [(ngModel)]="project.people.maintenance_manager.name" placeholder="Name" name="maintenance-name" scroll="-20"></ion-input>
              </ion-item>
              <ion-item col-md-4 col-12>
                <ion-input tabindex="8" (ionFocus)="on_focus($event)"  type="email" [(ngModel)]="project.people.maintenance_manager.email" placeholder="Email" name="maintenance-email" scroll="-20"></ion-input>
              </ion-item>
              <ion-item col-md-3 col-12>
                <ion-input tabindex="8" (ionFocus)="on_focus($event)"  type="phone" [(ngModel)]="project.people.maintenance_manager.phone" placeholder="Phone" name="maintenance-phone" scroll="-20"></ion-input>
              </ion-item>
            </ion-row>
          </ion-col>
          <ion-col col-12>
            <ion-row>
              <ion-title col-12 text-left>HSE Manager</ion-title>
              <ion-item col-md-5 col-12>
                <ion-input tabindex="10" (ionFocus)="on_focus($event)"  [(ngModel)]="project.people.hse_manager.name" placeholder="Name" name="hse-name" scroll="-60"></ion-input>
              </ion-item>
              <ion-item col-md-4 col-12>
                <ion-input tabindex="10" (ionFocus)="on_focus($event)"  type="email" [(ngModel)]="project.people.hse_manager.email" placeholder="Email" name="hse-email" scroll="-60"></ion-input>
              </ion-item>
              <ion-item col-md-3 col-12>
                <ion-input tabindex="10" (ionFocus)="on_focus($event)"  (keyup.enter)="on_keypress($event)"  type="phone" [(ngModel)]="project.people.hse_manager.phone" placeholder="Phone" name="hse-phone" scroll="-60"></ion-input>
              </ion-item>
            </ion-row>
          </ion-col>
        </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="segment=='files'">
      <ion-col col-12>
        <ion-list id="document-list" [class.editable]="edit_mode">
          <ion-item *ngFor="let f of project.documents">
            <ion-icon name="document-{{f.extension}}" color="gray" item-start></ion-icon>
            <span (click)="open_file(f)">{{f.file}}</span>
            <ion-icon (click)="ask_for_delete(f)" name="md-trash" color="red" item-end></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-3 no-padding>
        <button tabindex="16" ion-button small color="light" (click)="after_delete()">
          <ion-icon name="arrow-back"></ion-icon>&nbsp;Back
        </button>
      </ion-col>
      <ion-col col-9 text-right no-padding>
        <button *ngIf="segment=='files'" ion-button small color="light" (tap)="choose_file()">
          Choose file
        </button>
        <button id="submit-button" id="submit-button" tabindex="15" *ngIf="segment=='properties'" ion-button small color="primary" (click)="save()">
          Save
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
