ion-card {
  border: 1px solid #96be10;
  border-radius: 2rem !important;
  background: #96be10 !important;

  h1 {
    color: #fff;
  }

  svg {
    width: 40%;
    height: auto;
    margin: 2rem auto;

    * {
      fill: #fff;
    }
  }

  &.disabled {
    border: 1px solid #aaa;
    background: #aaa !important;
    pointer-events: none;

    h1 {
      color: #888 !important;
    }

    svg {
      * {
        fill: #888 !important;
      }
    }
  }
}
