.edit_surface_material {
  ion-input {
    &.literal {
      display: block
    }

    &.numeric {
      display: none
    }
  }

  &.editable {
    ion-input {
      &.literal {
        display: none !important
      }

      &.numeric {
        display: block !important
      }
    }
  }
}

ion-alert.ion-dialog-horizontal {
  .alert-button-group-vertical {
    flex-direction: row;
    justify-content: space-between;

    button.alert-button {
      margin: .5rem 0;
      max-width: 33%;
      text-align: center;

      .button-inner {
        flex-flow: column;
      }
    }
  }
}
