page-init {
  ion-content {
    p {
      font-size: 90%;
      color: #666 !important;
    }
    ion-grid {

      ion-list {
        margin-top: 40%;

        ion-item {
          background-color: transparent !important;
          // label, ion-input {
          //   color: #fff!important;
          // }
        }
      }
    }

    // background-color: #014a97 !important;
    .bg-logo {
      min-height: 15rem;
      background-size: auto 95%;
      background-repeat: no-repeat;
      background-position: center center;
    }

    
    // ion-col {
    //   //display: flex;
    //   //align-items: center;
    // }
  }
}
