.modal-window-area {
  ion-slide.swiper-slide {
    align-items: flex-start;
  }
  .scroll-content{
    overflow: hidden!important;
  }
  .modal-wrapper {
    $height: 500;
    $width: 50%;
    height: $height * 1px;
    width: $width;
    top: 5%;
    left: 25%;
    area-modal {
      background: #fff;
      .scroll-content {
        margin-top: 4rem;
        display: block;
      }
      [svg] {
        height: 100%;
        width: auto; 
        svg {
          height: 70%;
          margin-top: 0;
        }
      }
      ion-toolbar {
        .toolbar-background {
          background: #ccc !important;
        }
      }
    }
  }
}
