report-result {
  display: block;
  margin-top: 0;
  [img-container]{
    background: center center no-repeat;
    background-size: contain;
    border-radius: .9rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid #fff;
  }
  [head-lost] {
    border: 1px solid  darken(rgb(255,0,0), 0);
    border-radius: .5rem;
    padding: 1rem 2rem;
    background: rgba(255,0,0, .3);
    width: 100%;
    h1 {
      text-align: center;
    }
    h4 {
      font-size: 2rem;
    }
    font-size: 2rem;
    color: darken(rgb(255,0,0), 0)!important;
  }
  [saving-potential] {
    margin-top: .3rem;
    border: 1px solid rgb(84, 130, 53);
    border-radius: .5rem;
    padding: 1rem 2rem;
    background: rgba(84, 130, 53, .2);
    width: 100%;
    h1 {
      text-align: center;
    }
    h4 {
      font-size: 2rem;
    }
    font-size: 2rem;
    color: rgb(84, 130, 53);
    ion-row {
      ion-col:nth-child(3) {
        text-align: right;
      }
    }
  }
  [message] {
    border: 1px solid rgb(48, 84, 150);
    border-radius: .5rem;
    padding: 1rem;
    background: rgba(48, 84, 150, .2);
    width: 100%;
    margin-bottom: .5rem;
    h4 {
      margin: 0;
      text-align: center;
      color: rgb(48, 84, 150);
      font-size: 1.5rem;
    }
  }

  // span{
  //   font-size: 2rem;
  // }
  table.result-chart {
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    zoom: 1.5;
    font-size: .8rem;
    color: #7f7f7f;
    margin: auto;

    thead th {
      font-size: .8rem;
      padding: 0 20px 20px;
    }

    thead th:nth-child(3) {
      color: #4b71c1
    }

    thead th:nth-child(4) {
      color: #6daf3d
    }

    tbody td.space {
      width: 10px;
    }

    tbody td strong {
      padding-right: 20px;
      text-align: right;
      display: block;
    }

    tbody td.bar {
      width: 35%;
      vertical-align: bottom;
      padding: 0 5px;
      text-align: center;
    }

    tbody td.bar div {
      display: block;
      margin-left: 10%;
      width: 90%;
    }

    tbody td.bar div.gray {
      background-color: #7f7f7f;
      //border: 1px solid #7f7f7f;
    }

    tbody td.bar div.gray.pattern {
      background: #7f7f7f;
    }

    tbody td.bar div.blue {
      background-color: #7db2dc;
      //border: 1px solid #7db2dc;
      color: #4b71c1
    }

    tbody td.bar div.blue.pattern {
      //background: repeating-linear-gradient(45deg, #7db2dc, #7db2dc 5px, #fff 5px, #fff 10px);
      //border: 1px solid #4b71c1;
      background: #4b71c1;
      color: #7f7f7f
    }

    tbody td.bar div.green {
      background-color: #c6e7a2;
      //border: 1px solid #c6e7a2;
      color: #6daf3d;
    }

    tbody td.bar div.green.pattern {
      //background: repeating-linear-gradient(45deg, #c6e7a2, #c6e7a2 5px, #fff 5px, #fff 10px);
      background: #6daf3d;
      //border: 1px solid #6daf3d;
      color: #7f7f7f
    }

    tbody td.scale {
      border-right: 1px solid #7f7f7f;
      text-align: right;
      width: 40px;
      height: 60px;
      vertical-align: top;
      padding-bottom: 20px;
      padding-top: 0;
      padding-right: 5px;
      //font-size: 1rem;
      font-weight: 600;
    }

    tbody td.scale .kwh {
      margin-top: 62px;
      //margin-bottom: -34px;
      position: absolute;
      margin-left: -31px;
    }

    tbody td.scale.inverse {
      vertical-align: bottom;
      padding-bottom: 0;
      padding-top: 20px;
    }

    tbody td.section {
      text-align: right;
      width: 60px;
    }

    tbody td.b-line {
      border-bottom: 5px solid white;
    }

    tbody.inverse td.bar {
      vertical-align: top;
    }

    tbody.inverse td.bar div>span {
      font-weight: 600;
      //font-size: .8rem;
      float: left;
      width: 100%;
    }

    tbody:not(.inverse) td.bar div>span {
      font-weight: 600;
      //font-size: .8rem;
      float: left;
      width: 100%;
      margin-top: -15px;
    }

    tbody td.bar div {
      transition: height linear .25s
    }

    tbody td.bar div span {
      transition: al linear .25s
    }
  }
}
