report-result {
  [img-container]{
    background: center center no-repeat;
    background-size: contain;
    border-radius: .9rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid #fff;
  }
  [head-lost] {
    border: 1px solid  darken(rgb(255,0,0), 0);
    border-radius: .5rem;
    padding: 1rem 2rem;
    background: rgba(255,0,0, .3);
    width: 100%;
    h1 {
      text-align: center;
    }
    h4 {
      font-size: 2rem;
    }
    font-size: 2rem;
    color: darken(rgb(255,0,0), 0)!important;
  }
  [saving-potential] {
    margin-top: .3rem;
    border: 1px solid rgb(84, 130, 53);
    border-radius: .5rem;
    padding: 1rem 2rem;
    background: rgba(84, 130, 53, .2);
    width: 100%;
    h1 {
      text-align: center;
    }
    h4 {
      font-size: 2rem;
    }
    font-size: 2rem;
    color: rgb(84, 130, 53);
    ion-row {
      ion-col:nth-child(3) {
        text-align: right;
      }
    }
  }
  [message] {
    border: 1px solid rgb(48, 84, 150);
    border-radius: .5rem;
    padding: 1rem;
    background: rgba(48, 84, 150, .2);
    width: 100%;
    margin-top: .5rem;
    h4 {
      margin: 0;
      text-align: center;
      color: rgb(48, 84, 150);
    }
  }

  span{
    font-size: 2rem;
  }
}

